@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "softdonut";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(35% 0.144 278.697);
  --color-primary-content: oklch(29% 0.149 302.717);
  --color-secondary: oklch(78% 0.115 274.713);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: oklch(86% 0.005 56.366);
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0rem;
  --radius-field: 0.5rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 0;
  --noise: 1;
}